th,
td {
    /* border: 1px solid black;
    display: block; */
}

tr {
    /* display: table-cell; */
}

input {
    width: 15px;
}

.border_left {
    border-style: solid;
    /* border-width: 0px 0px 2px 0px; */

}
/* @font-face {
    font-family: 'TUV-MONTSERRAT-REGULAR';
    src:  url('~/lib/TUV-MONTSERRAT-REGULAR.TTF'); 
} */


@font-face {
    font-family: 'TUV-MONTSERRAT-REGULAR';
    font-style: normal;
    font-weight: 400;
    src: url('~/lib/TUV-MONTSERRAT-REGULAR.TTF') format('truetype');
    /* IE9 Compat Modes */
    
    /* Legacy iOS */
 }

.main-font {
    font-family: -apple-system,
    sans-serif;
}

